<!DOCTYPE html>
<html>
    <header>
        <title> {{title}} </title>
    </header>

    <body>
        <style>

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

        </style>
        <div>
            <img src="{{main.image.url}}" width="150px" height="150px" alt="">
            <h2>{{main.title}}</h2>
            <h5>{{main.description}}</h5>
            <p>{{bio}}</p>
        </div>
    </body>
</html>